<div>    
    <div class="text-center mt-6"><h3>Invoice Summary</h3></div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">Total number of paid invoices held:</div>
        <div class="col-md-3"><span class="badge badge-success">@Model.TotalPaidInvoiceCount</span></div>
        <div class="col-md-2"></div>
    </div>
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">Total GBP received from invoices paid:</div>
        <div class="col-md-3"><span class="badge badge-primary">@Model.PaidInvoiceTotal</span></div>
        <div class="col-md-2"></div>
    </div>    
</div>