@model TechnicalTestApp.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Netwrix Invoice Data Application";
}

@section Scripts {

    <script src="@Url.Content("~/js/Home.js")" asp-append-version="true"></script>
}

<div class="text-center mt-4 jumbotron">
    <h1 class="display-4">Netwrix Invoice Data Application</h1>
</div>

<partial name="~/Views/Home/_InvoiceSummaryPartial.cshtml" />
<partial name="~/Views/Home/_CustomerInfoPartial.cshtml" />
<partial name="~/Views/Home/_CustomerAddressModal.cshtml" />

