@model TechnicalTestApp.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "An error has occurred";
}

<h1>Oops!</h1>

<p>@Model.ErrorMessage</p>

@if (!string.IsNullOrEmpty(ViewBag.RouteOfException))
{
    <p>Original route: @Model.RouteOfException</p>
}

@if (!string.IsNullOrEmpty(Model.RequestId))
{
    <p>Request ID: @Model.RequestId</p>
}

